.country-list{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search_form{

    input{
    width: 23%;
    font-size: 17px;
    padding: 10px;
    background: black;
    border: 1px solid white;
    margin-top: 20px;
    }
}