.filter-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.filter-block {
  transition: .25s;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.514);
  .filter{
    display: none
  }
}

.filter-block__unwrapped{
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  .filter{
    display: block
  }
}

.filter-switcher {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: fit-content;
  position: absolute;
  right: 5px;
  bottom: 2.5px;
}