.menu-tabs__container{
    display: flex;
    justify-content: space-evenly;
    .menu-tab{
        cursor: pointer;

        a{
            all:unset;
            color: white;
            font-size: 25px;
        }
    }
}