.form {
  margin: 0 auto;
  width: fit-content;

  input {
    width: 80vw;
    font-size: 17px;
    padding: 10px;
    background: black;
    margin-left: 20px;
    border: 1px solid white;
    margin-top: 20px;
    box-shadow: 1px, 1px, 5px rgba(0, 0, 0, 0.15);
    color: white;
  }
}